html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    ' . login .'
}
form{
    padding: 15px;
    background-color: white;
    grid-area: login;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
}
.botoes{
    display: flex;
    justify-content: space-around;
}
.botoes > button{
    flex: 1;
    border-radius: 10px;
    margin: 5px;
}
form >input{
    width: 50%;
    height: 20px;
}